<!DOCTYPE html>
<head>
  <title>Satellite</title>
</head>
<body>
    <p>Datetime</p>
    <p>datetime:{{date_time}}</p>
    <p>CPU</p>
    <p>CPU Time:{{cpu_time}}</p>
    <p>CPU Ferq:{{cpu_freq}}</p>
    <p>Disk Info</p>
    <p>Disk:{{disk}}</p>
    <p>Disk Usage:{{disk_usage}}</p>
    <p>Memory</p>
    <p>Swap Memory:{{swap_memory}}</p>
    <p>Vitural Memory:{{vitural_memory}}</p>
    <p>CPU Info</p>
    <p>CPU Tempurate:{{sensors_temperature}}</p>
    <p>CPU Fan:{{sensors_fans}}</p>
    <p>Battery:{{sensors_battery}}</p>
    <p>Pc Info:{{pc_users}}</p>
</body>
</html>
